body
{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.header-sec
{ 
    width: 100%;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header-sec-wrapper{
    display: flex;
    margin-left: 2%;
}
.header-content h1 span{
    color: rgb(250, 179, 48);
}
.header-content h1
{
    font-size: 60px;
    line-height: 20px;
    color: rgb(88, 84, 84);
    font-weight: 700;
}
.header-content p{
    color: gray;
    line-height: 25px;
}
.header-content{
    width: 50%;
}
.header-content img{
    width: 90%; 
}
#header-style{
    margin: 50px 20px ;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
button{
    background-image: linear-gradient(rgb(250, 128, 107), rgb(250, 66, 33));
    padding: 18px 40px;
    border: none;
    border-radius: 50px;
    
}
.middle-sec{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    padding-top: 120px;
}
.middle-content{
    margin-left: 4%;
    margin-right: 4%;
    width: 50%;
    text-align: left;
}
.middle-content img{
    width: 85%;
    
}
.middle-content h2{
    font-size: 32px;
    color: rgb(75, 71, 71);
}
.middle-content p{
    line-height: 25px;
    color: rgb(80, 76, 76);
}
#btn-style{
    margin-top: 70px;
}