body
{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.header-sec
{
    display: flex;
    margin-left: 2%;
    width: 100%;
    
    
}
.header-content h1 span{
    color: rgb(250, 179, 48);
}
.header-content h1
{
    font-size: 60px;
    line-height: 20px;
    color: rgb(88, 84, 84);
    font-weight: 700;
}
.header-content p{
    color: gray;
    line-height: 25px;
}
.header-content{
    width: 50%;
}
.header-content img{
    width: 85%; 
}
#header-style{
    margin: 50px 20px ;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
button{
    background-image: linear-gradient(rgb(250, 128, 107), rgb(250, 66, 33));
    padding: 18px 40px;
    border: none;
    border-radius: 50px;
    
}